# nginx-deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
      - name: nginx
        image: nginx
        ports:
        - containerPort: 443
        volumeMounts:
        - name: tls
          mountPath: "/etc/nginx/ssl"
          readOnly: true
        - name: config
          mountPath: "/etc/nginx/conf.d"
        - name: html
          mountPath: /usr/share/nginx/html
      volumes:
      - name: tls
        secret:
          secretName: nginx-tls
      - name: config
        configMap:
          name: nginx-config
          items:
          - key: default.conf
            path: default.conf
      - name: html
        configMap:
          name: nginx-config
          items:
          - key: index.html
            path: index.html
